@media only screen and (max-width: 920px){ 
    *{
        color:white;
      }
     
      @keyframes slideRight {
          from { transform: translateX(-200%); }
          to{transform: translateX(0%);}
      }
      @keyframes holdPos{
          0%{
              opacity:0;
          }
          95%{
              opacity:0;}
          100%{
             opacity:1;
          }
      }
      @keyframes fadeIn{
          from{opacity: 0;}
          to{opacity:1;}
      }
          body{
              width:100%;
              margin-top:-50px;
              margin-left:-.01%;
              margin-bottom:-200px;
          }
          nav{
              display: flex;
              justify-content: center;
          }
          #firstSect{
            background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(https://static.wixstatic.com/media/84770f_0018c709d8b74dfa93fd0cd11e139b8c~mv2_d_5760_3840_s_4_2.jpg/v1/fill/w_1000,h_667,al_c,q_85,usm_0.66_1.00_0.01/84770f_0018c709d8b74dfa93fd0cd11e139b8c~mv2_d_5760_3840_s_4_2.webp);
            background-size:cover;
            margin-bottom:-30%;
          }
          a{
              color:#10e698;
              text-decoration: none;
              
          }
          nav div.col{
              width:95%;
              padding:5%;

          }
          nav div h1{
              border-top:5px solid whitesmoke;
              border-bottom:5px solid whitesmoke;
              font-size:1.7rem;
              line-height:3rem;
              align-self: stretch;
              text-align: center;
          }
          nav div img{
              margin-bottom:-5%;
          }
          .col{ display:flex;
              flex-direction: column;
              align-items:center;
              justify-content: center;
               margin-top:50px; 
          }
          main.col{
              margin-top:-10%;
          }
          ul.col{
              align-self:flex-end;
              list-style-type: none;
               margin-top:-.5%;
              align-items: flex-end;
              line-height: 1.5rem;
          
          } 
          header div.col{
            align-items: flex-start;
            margin-left:5%;
            margin-top:25%;
              
          }
         
          main.col header.col span:nth-of-type(1){
           font-size:1.25rem;
          }
          main.col header.col span:nth-of-type(2){
           font-size:3rem;
           color:#10e698;
          }
          main.col header.col span:nth-of-type(3){
              font-size:3rem;
              color:#10e698;
          }
          main.col header.col span:nth-of-type(4){
              font-size:3rem;
              color:#10e698;
          }
         
          #bluey{
              background-color:rgba(24,45,69,1);
              padding:5%;  
          }
          .wtBrd{
            width:90%;
           border:10px solid white;
           min-height:580px;
           animation-duration: 3s;
           position: relative;
           top:8em;
           left:.5em;
           
          }
          .prpBx{
            width:95%;
            background-color:rgba(13,25,38,1);
            min-height: 561px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap:wrap;
            animation-duration: 3s;
            position:relative;
            bottom:28.25em;
            right:.5em;

          }
          .prpBx div.col h1{
              color:#10e698;
              line-height: .5rem;
          }
          .prpBx input[type=text]{
            color:black;
            margin-bottom:5%;
            width:80%;
        }
          .prpBx textarea{
            color:black;
            width:80%;
            
        }
        .prpBx button{
            background-color:#10e698;
            color:white;
            width:82%;
            height:2em;
            margin-top:5%;
            margin-bottom:5%;
        }
        
        .col#success{
           margin:0% 5% 0% 5%;
        }
        .col#success > h1{
            color:black;
            
        }
        .col#success ol li{
            color:black;
        }
        .testImg{
            max-height:800px;
            max-width:100%;
        }
        #slideshow{
            overflow: hidden;
            justify-self: flex-end;
        }
        #slideshow figure{
            position:relative;
            width:300%;
            margin:0;
            left:0;
            animation: 36s slider infinite; 
            
        }
        #slideshow figure img{
            width:33.33333%;
            float:left; 
            
        }
        #slideshow figure img:first-of-type{
            animation:fader1 36s infinite;
        }
        #slideshow figure img:nth-of-type(2){
            animation: fader2 36s infinite;
        }
        #slideshow figure img:nth-of-type(3){
            animation: fader3 36s infinite;
        }
        #success{
            overflow: hidden;
        }
        #footer{
            margin-top:0px;
            padding:5%;
            min-height: 800px; 
            background-size: 100% 100%; 
            background:linear-gradient(rgba(35, 38, 54, 0.4),rgba(35, 38, 54,.4)), url("https://static.wixstatic.com/media/11062b_db132ca6141f4d65b2932519436a52bbf000.jpg/v1/fill/w_301,h_1080,al_c,q_80/11062b_db132ca6141f4d65b2932519436a52bbf000.webp%22%3E%3Cimg%20id=%22mediairn7u7vg1balatamediaimageimage%22%20style=%22width:%20320px;%20height:%201150px;%20object-fit:%20cover;%22%20alt=%22%22%20data-type=%22image%22%20itemprop=%22image%22%20src=%22https://static.wixstatic.com/media/11062b_db132ca6141f4d65b2932519436a52bbf000.jpg/v1/fill/w_301,h_1080,al_c,q_80/11062b_db132ca6141f4d65b2932519436a52bbf000.webp");
            background-size:100% 100%;
            
        }
        #footer div.col span{
            color:#10e698;
            font-size: 2em;
        }
        .fadeIn{
            animation-duration: 3s;
            animation-fill-mode: forwards;
        }
        .hidden{
            visibility: hidden;
        }
        .visible{
            visibility: visible;
        }
        @keyframes fader1 {
            0% {
                opacity:1;          
             }
            20% {
                opacity:0;        
            }
            25% {
                opacity:0;        
            }
            45% {
                opacity:0;        
            }
            50% {
                opacity:0;        
            }
            70% {
                opacity:0;        
            }
            75% {
                opacity:0;        
            }
            100% {
                opacity:1;        
            }
        }
        @keyframes fader2 {
            0% {
                opacity:0;                   
             }
            20% {
                opacity: 1;        
            }
            25% {
                opacity: 1;        
            }
            45% {
                opacity: 0;        
            }
            50% {
                opacity:0 ;        
            }
            70% {
                opacity: 1;        
            }
            75% {
                opacity: 1;        
            }
            100% {
                opacity: 0;        
            }
        }
        @keyframes fader3 {
            0% {
                opacity:0 ;                  
             }
            20% {
                opacity:0 ;        
            }
            25% {
                opacity: 0;        
            }
            45% {
                opacity:1 ;        
            }
            50% {
                opacity: 1;        
            }
            70% {
                opacity: 0;        
            }
            75% {
                opacity: 0;        
            }
           
            100% {
                opacity: 0;        
            }
        }
        @keyframes slider {
            0% {
                left:0;           
             }
            20% {
                left:-100%;
            }
            25% {
                left:-100%;
            }
            45% {
                left:-200%;
            }
            50% {
                left:-200%;
            }
            70% {
                left:-100%;
            }
            75% {
                left:-100%;
            }
            95%{
                left:0%;
            }
            100% {
                left:0%;
            }
        }
    }