@media only screen and (max-width: 900px){ 
    *{
        color:white;
         /* border:1px solid black;  */

      }
      @keyframes slideRight {
          from { transform: translateX(-200%); }
          to{transform: translateX(0%);}
      }
      @keyframes holdPos{
          from{transform: translateX(202.5%);}
          to{transform:translateX(0%);}
      }
      @keyframes fadeIn{
          from{opacity: 0;}
          to{opacity:1;}
      }
          body{
              width:100%;
              margin-top:-50px;
              margin-left:-.01%;
              
          }
          nav{
              display: flex;
              justify-content: center;
          }
          #firstSect{
            background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(https://images.unsplash.com/photo-1470075801209-17f9ec0cada6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
            background-size:cover;
            margin-bottom:-30%;
          }
          a{
              color:#10e698;
              text-decoration: none;
              
          }
          nav div.col{
              width:95%;
              padding:5%;

          }
          nav div h1{
              border-top:5px solid whitesmoke;
              border-bottom:5px solid whitesmoke;
              font-size:1.7rem;
              line-height:3rem;
              align-self: stretch;
              text-align: center;
          }
          nav div img{
              margin-bottom:-5%;
          }
          .col{ display:flex;
              flex-direction: column;
              align-items:center;
              justify-content: center;
               margin-top:50px; 
          }
          main.col{
              margin-top:-10%;
          }
          ul.col{
              align-self:flex-end;
              list-style-type: none;
               margin-top:-.5%;
              align-items: flex-end;
              line-height: 1.5rem;
          
          } 
          header p{
              /* visibility: hidden; */
              /* animation-name: fadeIn; */
              animation-duration: 4s;
              animation-fill-mode: forwards;
          }
          main.col header.col{
              align-items: flex-start;
              margin-left:5%;
              margin-top:25%;
            
          }
          main.col header.col span:nth-of-type(1){
           font-size:1.25rem;
          }
          main.col header.col span:nth-of-type(2){
           font-size:3rem;
           color:#10e698;
          }
          main.col header.col span:nth-of-type(3){
              font-size:3rem;
              color:#10e698;
          }
          main.col header.col span:nth-of-type(4){
              font-size:3rem;
              color:#10e698;
          }
         
          #bluey{
              background-color:rgba(24,45,69,1);
              width:100%;
             
              display:flex;
              flex-direction:column;
              justify-content: center;
              align-items: center;
              
              
          }
          #wtBrd{
           /* visibility: hidden; */
           width:80%;
           height:80%;
           border:10px solid white;
           margin-right: -5%;
           margin-top:30%;
           /* animation-name: slideRight; */
           animation-duration: 3s;
           margin-bottom:15%;
          }
          #prpBx{
            /* visibility: hidden; */
            width:105%;
            height:95%;
            background-color:rgba(13,25,38,1);
             margin-top:3.5%; 
             margin-bottom:3.5%;
            margin-left:-10%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap:wrap;
            /* animation-name: holdPos; */
            animation-duration: 3s;
            
          }
          #prpBx h1{
              color:#10e698;
          }
          #prpBx input{
              color:black;
              height:7%;
              margin-bottom:5%;
              width:70%;
          }
          #prpBx textarea{
            color:black;
            width:70%;
            height:20%;
        }
        #prpBx button{
            background-color:#10e698;
            color:white;
            width:72%;
            height:7%;
            margin-top:5%;
            margin-bottom:5%;
        }
        .col#success{
           margin:0% 5% 0% 5%;
        }
        .col#success > h1{
            color:black;
        }
        .col#success > p{
            color:black;
        }
    }